.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* width: 50%; */
  background-color: rgb(4, 41, 23);;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1vh;
}

.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.social-button__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-button i {
  font-size: 28px;
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-button:focus, .social-button:hover {
  color: #fff;
}

.social-button:focus::after, .social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-button--mail {
  color: #0072c6;
}

.social-button--mail::after {
  background: #0072c6;
}

.social-button--facebook {
  color: #3b5999;
}

.social-button--facebook::after {
  background: #3b5999;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}

.social-button--codepen {
  color: #212121;
}

.social-button--codepen::after {
  background: #212121;
}

.social-button--email{
  color:rgb(70, 65, 65);
}

.social-button--email::after {
  background: rgb(70, 65, 65);
}

.social-button--steam {
  color: #7da10e;
}

.social-button--steam::after {
  background: #7da10e;
}

.social-button--snapchat {
  color: #55acee;
}

.social-button--snapchat::after {
  background: #55acee;
}

.social-button--twitter {
  color: #55acee;
}

.social-button--twitter::after {
  background: #55acee;
}

.social-button--instagram {
  color: #e4405f;
}

.social-button--instagram::after {
  background: #e4405f;
}

.social-button--npmjs {
  color: #c12127;
}

.social-button--npmjs::after {
  background: #c12127;
}
/*# sourceMappingURL=App.css.map */


* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body{
  font-family: sans-serif;
  }

nav{
  list-style:none;
  background: white;
  display: flex;
  top: 0;
  position: sticky;
  font-family: 'sans-serif';
  font-weight: bold;
  width: 100%;
  background-color: rgb(4, 41, 23);
  flex-direction: row;
  height:8vh;
}

.fixed-nav{
  position: fixed;
}

.nav-links li a,.brand{
  text-decoration:none;
  color:#FFF;
  font-size:16px;
}

.nav-links{
   display: flex;
   width:30%;
   list-style:none;
   height:100%;
   justify-content: space-around;
   align-items:center;
   margin-left:auto;
}

.brand{
  display: flex;
  margin-left:40px;
  justify-content: space-between;
  align-items:center;
}

@media screen and (max-width:992px){
  .line{
    width:30px;
    height:3px;
    background: #fff;
    margin:5px;
  }
  nav {
    position: relative;
  }

  .hamburger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:50%;
    transform: translate(-5%,-50%);
    z-index:2;
  }

  .nav-links{
    position: fixed;
    background:rgb(4, 41, 23);
    height:100vh;
    width:100%;
    flex-direction:column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1.5s ease-out;
  }
  .nav-links.open{
    clip-path: circle(2000px at 90% -20%);
    -webkit-clip-path: circle(2000px at 90% -20%);
    pointer-events:all;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li a{
    font-size: 25px;
  }
  .nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }

}

.nav-link a:hover{
  color: grey;
}
.brand:hover{
  color: grey;
}

div.project-wrapper,div.work-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-top: 3vh;
  height:81vh;
}

div.cards {
  overflow: scroll;
  width: 90vw;
  height: 70vh;
  display: grid;
  grid-auto-flow:dense;
  grid-gap: 1.5em;
  grid-template-rows: repeat(30, 200px);
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

div.cards::-webkit-scrollbar {
  display: none;
}

div.work-cards {
  overflow: scroll;
  width: 90vw;
  height: 70vh;
  display: grid;
  grid-auto-flow:dense;
  grid-gap: 1.5em;
  grid-template-rows: repeat(30, 200px);
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

div.cards,a.work-cards {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a.card{
  background-size: cover;
  display: flex;
  border-radius: 14px;
  padding: 0.5rem;
  max-width:100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  max-height:100%
}

a.work-card{
  background-size: cover;
  display: flex;
  border-radius: 14px;
  padding: 0.5rem;
  max-width:100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  max-height:100%;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
}

a.work-card:link{
  text-decoration: none;
}

a.work-card:hover{
  transform: scale(1.02);
}


a.card:nth-child(2n+1){
  grid-row: span 2 / auto;
  grid-column: span 2 /auto;
}


ul.project-buttons{
  list-style: none;
}

.project.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.project.fa:hover {
  opacity: 0.7;
}

.project.fa-facebook {
  background: #3B5998;
  color: white;
}

a.card:nth-child(1){
  background-image: url(./Image/Projects/project1_1.png);
}
a.card:nth-child(2){
  background-image: url(./Image/Projects/project2_5.png);
}
a.card:nth-child(3){
  background-image: url(./Image/Projects/project3_5.png);
}
a.card:nth-child(4){
  background-image: url(./Image/Projects/project4_1.png);
}
a.card:nth-child(5){
  background-image: url(./Image/Projects/project5_2.png);
}

.hit-the-floor {
  color: #fff;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-color: #f1f1f1;
}

.hit-the-floor {
  color: #fff;
  font-size: 13vh;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor.buttom{
  background-color: rgb(239, 186, 250);
}

@media (max-width: 992px) {
  div.open-image{
    display: none;
  }
  .hit-the-floor {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #f1f1f1;
  }
  
  .hit-the-floor {
    color: #fff;
    font-size: 5vh;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2),
      0 20px 20px rgba(0,0,0,.15);
  }
  
  .hit-the-floor.buttom{
    background-color: rgb(239, 186, 250);
  }
}

div.footer a i{
  height:200px;
  width:300px;
}

div.open-image{
  width:100%;
  height:92vh;
  /* background-image: linear-gradient(to left, rgba(255,0,0,0), #A6A6A6); */
  background-image: url("./Image/open.jpg");
  background-size: cover;
}

div.open-text{
  width:100%;
  height:80%;
  font-weight: bold;
  font-family: sans-serif;
  color:rgb(4, 41, 23);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.open-title{
  font-size: 4vh;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

div.explore-container{
  display: flex;
  width:100%;
  height:100vh;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  background-color: #D9D9D9;
}

div.intro-greeting{
  font-size: 10vh;
  color:black;
  display: flex;
  width:100%;
  height:100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  /* animation: animate 1s linear forwards; */
}

div.open-text div span.letter{
  opacity: 0;
  font-size: 14vh;
  letter-spacing: 0.3em;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter:blur(10px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0);
  }
}

div.home-text{
  color:#fff;
}

div.open-description{
  font-size:2.5vh;
  text-align: center;
  margin: 2vh 35vw 0 35vw;
}

ul.social-icons{
  position:absolute;
  top:75%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

ul li.social-icon {
  list-style:none;
  margin:0 5px;
}
ul li.social-icon a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

ul li.social-icon a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}
ul li.social-icon a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:210px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
ul li.social-icon a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
ul li.social-icon a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li.social-icon a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li.social-icon:hover .fa {
  color:#fff;
}

ul li.social-icon:hover span {
  color:#fff;
}

ul li.social-icon:hover:nth-child(1) a{
  background: #3b5998;
}
ul li.social-icon:hover:nth-child(1) a:before{
  background: #365492;
}
ul li.social-icon:hover:nth-child(1) a:after{
  background: #4a69ad;
}

ul li.social-icon:hover:nth-child(2) a{
  background:#55acee;
}
ul li.social-icon:hover:nth-child(2) a:before{
  background: #55acee;
}
ul li.social-icon:hover:nth-child(2) a:after{
  background: #55acee;
}

ul li.social-icon:hover:nth-child(3) a{
  background: #0077B5;
}
ul li.social-icon:hover:nth-child(3) a:before{
  background: #0077B5;
}
ul li.social-icon:hover:nth-child(3) a:after{
  background: #0077B5;
}

ul li.social-icon:hover:nth-child(4) a{
  background: #000;
}
ul li.social-icon:hover:nth-child(4) a:before{
  background: #000;
}
ul li.social-icon:hover:nth-child(4) a:after{
  background: #000;
}

ul li.social-icon:hover:nth-child(5) a{
  background: rgb(63, 29, 1);
}
ul li.social-icon:hover:nth-child(5) a:before{
  background: rgb(63, 29, 1);
}
ul li.social-icon:hover:nth-child(5) a:after{
  background: rgb(63, 29, 1);
}

div.intro-wrapper{
  display: flex;
  width:100%;
  height:100vh;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  color:black;
}

div.project-wrapper a.card:hover{
  transform:scale(1.02);
}